
$avatarHeight: 250px;

$halfAvatarHeight: $avatarHeight/2;

main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 300px 200px 300px 200px 100px;
    grid-row-gap: 8px;
    height: 1500px;
    width: 100%;
    grid-template-areas: 
    "header header"
    "content1 photo1"
    "filler1 filler1"
    "photo2 content2"
    "filler2 filler2"
    "footer footer";
    
}

header{
    position: relative;
    background:
    linear-gradient(to bottom right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0,0 , 0.60)
        ),
    url("../img/background.jpg");

background-position: center;
background-size: cover;
    

    h1{

        font-size: 46px;
        font-size: 7vw;
        margin: 10% 3%;

        // margin-top: 6%;

        #hi{
            display: inline !important; 
        }
    }

    .avatar{
        position: absolute;
        left: calc(50% - #{$halfAvatarHeight});
        bottom: -$halfAvatarHeight;
    }
}


#photo1{
    grid-area: photo1;
}

#photo2{
    grid-area: photo2;
}