

@import "variables.scss";

@mixin icons-left($w){


    // left: min($width *.35, 250px);
    // @media (max-width: 633px){
    left: calc(50vw + (#{$avatarMinHeight / 2}) - 16px) ;  
    // }
    @media (min-width: 633px){
        left: calc(65vw  - 16px)   
    }
    @media (min-width: 833px){
        left: calc(50vw + (#{$avatarMaxHeight / 2}) - 16px);
    }
}


@mixin avatar-position($w){

    // left: min($width *.35, 250px);
    // @media only screen and (min-width: 633px){
    background: red !important; 
    left: calc(50vw - (#{$avatarMinHeight / 2}))  ;
    bottom: -#{$avatarMinHeight / 2};  

    // }
    @media only screen and (min-width: 633px){
        background: cyan !important;
        left: 35vw;
        bottom: -15vw;
    }
    @media only screen and (min-width: 833px){
        background: tan !important;
        left: calc(50% - #{$avatarMaxHeight / 2});
        bottom: -#{$avatarMaxHeight / 2};    
    }
}


main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 45vh 300px 200px 300px 200px 100px;
    height: 1500px;
    width: 100%;
    grid-template-areas: 
    "header header"
    "content1 photo1"
    "filler1 filler1"
    "photo2 content2"
    "filler2 filler2"
    "footer footer";
    
}

.photo{
    display: block;
    img{
        width: 100%;
    }
}

.test{
    @include avatar-position(10px);
    height: 50px;
    width: 100px;
    position: absolute;

}

header{
 
    display: block; 
    border-bottom: solid 6px white;
    position: relative;
    background:
    linear-gradient(to bottom right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0,0 , 0.60)
        ),
    url("../img/background.jpg");

    background-position: center;
    background-size: cover;
    // @include avatar-position(10px);
  
    .icons{
        position: absolute;
        @include icons-left(100px);
        background: $green;
        height: 46px;
        width: 240px;
        bottom: 0px;
        border-top-right-radius: 6px;
        display: block;
        z-index: 3;
        border-top: solid 6px white;
        border-right: solid 6px white;
        // border-bottom: none;
        
        a{
            img{
                height: 40px;
            }
            // width: 40px;
            &:first-child{
                padding-left:6px;
            }
        }
    }

    h1{

        font-size: 46px;
        font-size: 7vw;
        margin: 10% 3%;

        // margin-top: 6%;

        #hi{
            display: inline !important; 
        }
    }

    .avatar{
        z-index: 10;    
        position: absolute;
        @include avatar-position(10px);
        // left: calc(50% - #{$halfAvatarHeight});
        // bottom: -$halfAvatarHeight;
    }
}


#photo1{
    grid-area: photo1;
    background: url("../img/playing.png");
    background-size: cover;
}

#photo2{
    grid-area: photo2;
}