

@mixin avatar-position($w){

    left: calc(50vw - (#{$avatarMinHeight / 2}))  ;
    bottom: -#{$avatarMinHeight / 2};  

    @media only screen and (min-width: 633px){
        left: 35vw;
        bottom: -15vw;
    }
    @media only screen and (min-width: 833px){
        left: calc(50% - #{$avatarMaxHeight / 2});
        bottom: -#{$avatarMaxHeight / 2};    
    }
}
