@import "variables.scss";


// $contentHeight: 200px;
// $fillerHeight: $contentHeight * 2 / 3;
// $headerHeight: $contentHeight * 2;

*{
    font-family: 'Open Sans', helvetica, sans-serif;
    color: #222;
    letter-spacing: +0.02em;
}

h1, h2, h3, h4, figcaption{
    letter-spacing: +0.06em;
}



// avatar height

// width: 35%;
// min-width: 190px;
// max-width: 250px;

// $w: min(35vw, 250px);


main{
    display: grid;
    display: -ms-grid;
    grid-template-columns:100%;
    grid-template-rows: 400px 200px 300px 200px 300px 100px;
    height: 1500px;
    width: 100%;
    grid-template-areas: 
    "header"
    "filler1"
    "content1"
    "filler2"
    "content2"
    "footer";

    
    
}



h2{
    margin: 10px 0 20px 10px;
}

blockquote{
    color: white;
}

header{
    position: relative;
    grid-area: header;
    background: $green;


    h1{
        line-height: 1.3em;
        letter-spacing: +.06em;
        margin: 30px 7%;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: white;

        *{
            color: inherit;
        }
        strong{

            margin: 0 auto;


        }
    }
    
    .avatar{
        display: block;
        margin: 0 auto;
        // height: 35vw;
        width: 30%;
        min-width: 190px;
        max-width: 250px;
        border-radius: 50%;
        border: solid 6px white;
    }

    #hi{
        display: none;
    }


    .icons{
        display: none;
    }


 

} // end header

.content{
    h2{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
    }
    
    background: $green;
    p{
        line-height: 1.3em;
        padding: 10%;
    }
}

.filler{
    background-color: #222;
    color: white;

    *{
        color: white;
    }

    h2{
        margin-top: 16px;
        font-size: 20px;
        text-align: center;
        // text-decoration: underline;
    }

}

#content1{
    grid-area: content1;
    #avatar-spacer{
        float: right;
        width: 125px;
        height: 125px;;
        shape-outside: polygon(0 0, 125px 0px, 125px 125px, 70px 105px, 15px 50px)
    }
}

#content2{
    grid-area: content2;
}


#filler1{
    grid-area: filler1;
}

#filler2{
    grid-area: filler2;
}

footer{
    background-color: tan; 
    grid-area: footer;
}

.thumbnail-band{
    width: 90%;
    margin: 0 auto;
    height: 102px;
    display: flex;

    .thumbnail{

        display: inline-block;
        height: 100%;;
        padding: 0px;
        margin: 0;
        width: 100%;

        a, img{
            display: block;
            margin: 0 auto;
            height: 100%;
        }
        img{
            width: 100%;
        }
        a{
            width: 136px;
        }
        figcaption{
            padding-top: 4px;
            text-align: center;;
        }

        &:last-child{
            display: none;
        }
    }
}



.photo{
    display: none;
}