$green: #c1d82f;


// $contentHeight: 200px;
// $fillerHeight: $contentHeight * 2 / 3;
// $headerHeight: $contentHeight * 2;


main{
    display: grid;
    display: -ms-grid;
    grid-template-columns:100%;
    grid-template-rows: 400px 200px 300px 200px 300px 100px;
    height: 1500px;
    width: 100%;
    grid-template-areas: 
    "header"
    "filler1"
    "content1"
    "filler2"
    "content2"
    "footer";

    
    
}



header{
    position: relative;
    grid-area: header;
    background: $green;


    h1{
        line-height: 1.3em;
        letter-spacing: -.02em;
        margin: 30px 7%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-weight: 700;
        color: white;
        strong{

            margin: 0 auto;


        }
    }
    
    .avatar{

        display: block;
        margin: 0 auto;
        // height: 35vw;
        width: 35%;
        min-width: 190px;
        max-width: 250px;
        border-radius: 50%;
        border: solid 6px white;
    }

    #hi{
        display: none;
    }







} // end header

.content{
    
    background: $green;
}

.filler{
    background-color: #222;
    color: white;
}

#content1{
    grid-area: content1;
}

#content2{
    grid-area: content2;
}


#filler1{
    grid-area: filler1;
}

#filler2{
    grid-area: filler2;
}

footer{
    background-color: tan; 
    grid-area: footer;
}



.photo{
    display: none;
}