body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    /* background: #eee; */
    background-image: url("./Sykkylven.jpg");
    background-size:  cover;
    color: #111;
}

a{
    display: inline-block;
    
}


.central-column{
    width: 50%;
    max-width: 900px;
    margin: 0 auto; 
    background: rgba(231, 231, 231, 0.7);
    height: 100vh;
    overflow: hidden;
}

div.header{
    height: auto;  
    /* height: 280px; */
    padding: 5px;
    margin: 8px;
    border-radius: 10px;
    background-color: rgba(161, 161, 161, 0.7);
    position: relative;
}

.clearfix:after{
    display: table;
    content: "";
    clear: both;
}

.header h1{
    margin-left: 12px;
    margin-bottom: 6px;
    margin-top: 4px;
    font-weight: normal;
}

h3.tagline{
    font-style: italic;
    font-weight: normal;
    color: #0f0f0f;
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 14px;
}

div.icons{
    background: #fafafa;
    border-radius: 10px;
    float: left;
    position: absolute;
    left: 166px;
    bottom: 10px;
    max-height: 40px;;
}
img.icon{
    width: 40px;
    height: 40px;
}

img.icon.github{
    width: auto;
}

img.avatar{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
}

div.main-content{
    
    border-top: solid 1px grey;
}

.tile{
    margin: 8px;
    border-bottom: dotted 1px grey;
}

h2{
    font-weight: normal;
    margin-bottom: 6px;
}
.tile p{
    color: #222;    
}

.fa, .fab{
    margin-right: 6px;
}