:root {
  --wave-height: 420px;

  --wave-target-desktop: 60vh;
  --wave-target: var(--wave-target-desktop);
  --wave-top: calc(var(--wave-target) - (0.5 * var(--wave-height)));
  --wave-bottom: calc(var(--wave-target) + (0.5 * var(--wave-height)) - 5px);
  --bottom-bg-height: calc(100% - var(--wave-bottom));

  --bg-green: #6e9c78 no-repeat 0 0/100vw 50vh;
  --bg-blue: #86a1cc no-repeat 0 800px;

  --background: var(--bg-green), var(--bg-wave), var(--bg-blue);
}

@media screen and (max-width: 600px) {
  :root {
    --wave-target: 80vh;
  }
}

@keyframes move-wave-mobile {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(600px, 0px);
  }
}
@keyframes move-wave-desktop {
  from {
    transform: translate(15vw, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes move-goose1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(250px, -180px);
  }
}

#bg-green {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: #96bb9e no-repeat 0 0/100vw 100%;
}

#bg-blue {
  height: var(--bottom-bg-height);
  width: 100%;
  background: var(--background2);
  position: absolute;
  top: var(--wave-bottom);
  left: 0;
  background: var(--background2);
}

.goose1 {
  left: calc(100% - 150px);
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 40px;
  animation: move-goose1 0.5s linear forwards;
  animation-delay: 0.2s;
}

#wave-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

#wave {
  position: absolute;
  width: 400vw;
  left: -200vw;
  height: var(--wave-height);
  top: var(--wave-top);
  margin-left: 0px;
  background-color: #86a1cc;
  animation: move-wave-desktop linear;
  animation-timeline: scroll(block root);
}
@media screen and (max-width: 600px) {
  #wave {
    animation-name: move-wave-mobile;
  }
}
