:root {
  --wave-height: 420px;

  --wave-target-desktop: 60vh;
  --wave-target: var(--wave-target-desktop);
  --wave-top: calc(var(--wave-target) - (0.5 * var(--wave-height)));
  --wave-bottom: calc(var(--wave-target) + (0.5 * var(--wave-height)) - 5px);
  --bottom-bg-height: calc(100% - var(--wave-bottom));

  --bg-green: #6e9c78 no-repeat 0 0/100vw 50vh;
  --bg-blue: #86a1cc no-repeat 0 800px;

  --background: var(--bg-green), var(--bg-wave), var(--bg-blue);
}

@media screen and (max-width: 600px) {
  :root {
    --wave-target: 80vh;
  }
}

@keyframes move-wave-mobile {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(600px, 0px);
  }
}
@keyframes move-wave-desktop {
  from {
    transform: translate(15vw, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes move-goose1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(250px, -180px);
  }
}

#bg-green {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: #96bb9e no-repeat 0 0/100vw 100%;
}

#bg-blue {
  height: var(--bottom-bg-height);
  width: 100%;
  background: var(--background2);
  position: absolute;
  top: var(--wave-bottom);
  left: 0;
  background: var(--background2);
}

.goose1 {
  /* TODO undo */
  display: none;
  left: calc(100% - 150px);
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 40px;
  animation: move-goose1 0.5s linear forwards;
  animation-delay: 800s;
}
.goose1:hover {
  animation-delay: 0s;
}

#wave-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

#wave {
  position: absolute;
  width: 400vw;
  left: -200vw;
  height: var(--wave-height);
  top: var(--wave-top);
  margin-left: 0px;
  background-color: #86a1cc;
  animation: move-wave-desktop linear;
  animation-timeline: scroll(block root);
  clip-path: path(
    "M 0 420 Q 77.5912 420 155.182 404.414 Q 232.774 388.827 310.365 388.827 Q 391.21 388.827 472.055 230.436 Q 552.899 72.0447 633.744 72.0447 Q 718.949 72.0447 804.153 152.521 Q 889.357 232.998 974.561 232.998 Q 1059.58 232.998 1144.6 149.396 Q 1229.61 65.7934 1314.63 65.7934 Q 1389.72 65.7934 1464.82 188.235 Q 1539.91 310.677 1615 310.677 Q 1689.83 310.677 1764.67 228.573 Q 1839.51 146.469 1914.34 146.469 Q 1988.5 146.469 2062.66 224.834 Q 2136.82 303.199 2210.97 303.199 Q 2295.46 303.199 2379.95 193.022 Q 2464.44 82.8452 2548.93 82.8452 Q 2633.46 82.8452 2717.98 213.63 Q 2802.51 344.414 2887.04 344.414 Q 2969.83 344.414 3052.62 224.377 Q 3135.41 104.339 3218.2 104.339 Q 3297.97 104.339 3377.75 205.754 Q 3457.52 307.169 3537.29 307.169 Q 3620.53 307.169 3703.77 226.385 Q 3787.01 145.601 3870.24 145.601 Q 3945.17 145.601 4020.1 198.781 Q 4095.03 251.961 4169.95 251.961 Q 4249.73 251.961 4329.51 183.976 Q 4409.28 115.991 4489.06 115.991 Q 4561.11 115.991 4633.16 238.155 Q 4705.21 360.319 4777.26 360.319 Q 4859.93 360.319 4942.6 206.516 Q 5025.27 52.7143 5107.94 52.7143 Q 5188.7 52.7143 5269.46 157.369 Q 5350.23 262.025 5430.99 262.025 Q 5517.72 262.025 5604.44 163.401 Q 5691.17 64.7773 5777.9 64.7773 Q 5861.07 64.7773 5944.23 166.115 Q 6027.4 267.452 6110.56 267.452 Q 6189.71 267.452 6268.85 173.854 Q 6348 80.2561 6427.15 80.2561 Q 6502.95 80.2561 6578.75 146.799 Q 6654.55 213.342 6730.35 213.342 Q 6818.12 213.342 6905.89 154.614 Q 6993.67 95.8851 7081.44 95.8851 Q 7163 95.8851 7244.57 196.396 Q 7326.13 296.907 7407.7 296.907 Q 7493.7 296.907 7579.71 219.17 Q 7665.71 141.433 7751.72 141.433 Q 7825.86 141.433 7899.99 212.841 Q 7974.13 284.25 8048.27 284.25 Q 8120.69 284.25 8193.11 190.439 Q 8265.53 96.6285 8337.95 96.6285 Q 8411.28 96.6285 8484.61 152.789 Q 8557.94 208.95 8631.28 208.95 Q 8713.75 208.95 8796.22 157.698 Q 8878.7 106.446 8961.17 106.446 Q 9039.64 106.446 9118.12 221.932 Q 9196.59 337.417 9275.07 337.417 Q 9353.41 337.417 9431.74 270.071 Q 9510.08 202.724 9588.41 202.724 Q 9591.31 202.724 9594.21 311.362 Q 9597.1 420 9600 420 L 9600 420 Z"
  );
}
@media screen and (max-width: 600px) {
  #wave {
    animation-name: move-wave-mobile;
  }
}
