:root {
  --wave-height: 420px;

  --wave-target-desktop: 60vh;
  --wave-target: var(--wave-target-desktop);
  --wave-top: calc(var(--wave-target) - (0.5 * var(--wave-height)));
  --wave-bottom: calc(var(--wave-target) + (0.5 * var(--wave-height)) - 5px);
  --bottom-bg-height: calc(100% - var(--wave-bottom));

  --bg-green: #6e9c78 no-repeat 0 0/100vw 50vh;
  --bg-blue: #86a1cc no-repeat 0 800px;

  --background: var(--bg-green), var(--bg-wave), var(--bg-blue);
}

#bg-green {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;

  background: #96bb9e no-repeat 0 0/100vw 100%;
}

.goose1 {
  /* left: 50vw;
  top: 50vh; */
  /* left: 80%; */
  left: calc(100% - 150px);
  /* left: calc(100% + 15px); */
  /* left: calc(100% + 15px); */
  /* left: 175vw; */
  position: absolute;
  z-index: 1;
  /* bottom: 60vh; */
  height: 40px;
  width: 40px;

  animation: move-goose1 0.5s linear forwards;
  animation-delay: 0.2s;

  /* animation-range: 75% 100%; */
}

@keyframes move-wave {
  from {
    transform: translate(15vw, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes move-goose1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(250px, -180px);
    /* transform: translate(100vw, 30vw); */
  }
}

#wave-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  /* height: calc(100% - var(--wave-top)); */
  /* height: var(--wave-height); */
  height: 100%;
}

#wave {
  position: absolute;
  width: 400vw;
  /* left: -600px; */
  left: -200vw;
  height: var(--wave-height);
  top: var(--wave-top);
  margin-left: 0px;
  background-color: #86a1cc;
  animation: move-wave linear;
  animation-timeline: scroll(block root);

  /* height: 100%; */
}

#bg-blue {
  height: var(--bottom-bg-height);
  width: 100%;
  background: var(--background2);
  position: absolute;
  top: var(--wave-bottom);
  left: 0;
  background: var(--background2);
  /* display: none; */
}

.junk {
  /* clip-path: path(
    "M0,168L20,175C40,182,80,196,120,196C160,196,200,182,240,154C280,126,320,84,360,84C400,84,440,126,480,182C520,238,560,308,600,336C640,364,680,350,720,336C760,322,800,308,840,287C880,266,920,238,960,224C1000,210,1040,210,1080,224C1120,238,1160,266,1200,266C1240,266,1280,238,1320,210C1360,182,1400,154,1440,168C1480,182,1520,238,1560,280C1600,322,1640,350,1680,315C1720,280,1760,182,1800,175C1840,168,1880,252,1920,301C1960,350,2000,364,2040,364C2080,364,2120,350,2160,308C2200,266,2240,196,2280,203C2320,210,2360,294,2400,273C2440,252,2480,126,2520,84C2560,42,2600,84,2640,112C2680,140,2720,154,2760,161C2800,168,2840,168,2860,168L2880,168L2880,420L2860,420C2840,420,2800,420,2760,420C2720,420,2680,420,2640,420C2600,420,2560,420,2520,420C2480,420,2440,420,2400,420C2360,420,2320,420,2280,420C2240,420,2200,420,2160,420C2120,420,2080,420,2040,420C2000,420,1960,420,1920,420C1880,420,1840,420,1800,420C1760,420,1720,420,1680,420C1640,420,1600,420,1560,420C1520,420,1480,420,1440,420C1400,420,1360,420,1320,420C1280,420,1240,420,1200,420C1160,420,1120,420,1080,420C1040,420,1000,420,960,420C920,420,880,420,840,420C800,420,760,420,720,420C680,420,640,420,600,420C560,420,520,420,480,420C440,420,400,420,360,420C320,420,280,420,240,420C200,420,160,420,120,420C80,420,40,420,20,420L0,420Z"
  ); */
  /* clip-path: path(
    "M 0,400 L 0,400 C 46.80738562010485,261.4804070697108 93.6147712402097,122.96081413942156 132,88 C 170.3852287597903,53.03918586057845 200.348300659266,121.63715051202456 241,166 C 281.651699340734,210.36284948797544 332.99202612272654,230.4905838124802 386,217 C 439.00797387727346,203.5094161875198 493.68359484982795,156.40051423805465 534,121 C 574.316405150172,85.59948576194533 600.2735944779616,61.90735923530109 637,82 C 673.7264055220384,102.09264076469891 721.2220272383255,165.97004882074094 772,185 C 822.7779727616745,204.02995117925906 876.838296568736,178.21244548173516 924,147 C 971.161703431264,115.78755451826484 1011.4247864867305,79.18016925231841 1057,81 C 1102.5752135132695,82.81983074768159 1153.462557484342,123.0668775089912 1198,116 C 1242.537442515658,108.9331224910088 1280.7249835759023,54.55232071171682 1320,94 C 1359.2750164240977,133.44767928828318 1399.637508212049,266.7238396441416 1440,400 L 1440,400 L 0,400 Z"
  ); */
  clip-path: path(
    "M 145.00,419.00 C 165.16,412.27 174.50,400.82 186.57,384.00   186.57,384.00 193.52,374.02 193.52,374.02   197.64,368.97 199.78,369.38 204.72,363.98   217.35,350.17 234.36,332.17 250.00,322.09   261.91,314.42 271.81,310.84 286.00,311.00   304.26,311.22 321.74,320.78 340.00,321.00   369.82,321.34 388.78,299.68 417.00,300.00   447.43,300.35 473.28,339.65 503.00,340.00   503.00,340.00 507.00,340.00 507.00,340.00   530.58,339.72 547.53,323.66 575.00,328.28   596.47,331.90 620.29,354.35 645.00,355.63   664.28,356.62 690.04,337.94 708.00,331.06   723.78,325.03 731.55,324.97 748.00,325.00   748.00,325.00 766.00,326.00 766.00,326.00   785.57,325.77 798.59,319.76 815.00,309.80   827.45,302.24 841.97,291.63 857.00,291.04   874.16,290.37 886.52,302.99 898.00,313.96   898.00,313.96 918.00,332.00 918.00,332.00   925.36,337.86 936.03,345.66 946.00,344.52   956.13,343.37 967.12,336.15 975.00,329.99   993.94,315.15 1007.63,297.85 1033.00,294.85   1035.75,294.52 1037.13,294.11 1040.00,294.32   1062.16,295.98 1077.87,302.92 1099.00,307.58   1119.72,312.15 1140.76,314.18 1161.00,321.00   1178.93,327.05 1204.99,341.79 1223.00,342.00   1223.00,342.00 1227.00,342.00 1227.00,342.00   1255.78,341.96 1276.40,314.31 1303.00,307.48   1333.07,299.75 1355.28,327.22 1384.00,324.91   1404.80,323.24 1428.75,296.57 1452.00,296.57   1462.80,296.57 1469.88,301.53 1478.00,308.00   1478.00,308.00 1510.00,337.08 1510.00,337.08   1517.17,342.99 1526.31,349.31 1536.00,348.96   1545.07,348.63 1554.01,342.68 1561.00,337.35   1577.04,325.10 1596.99,301.50 1618.00,301.01   1633.16,300.66 1644.95,307.71 1657.00,316.02   1657.00,316.02 1714.00,360.33 1714.00,360.33   1724.44,367.33 1741.13,375.64 1754.00,374.91   1780.18,373.42 1802.90,349.12 1828.00,349.00   1828.00,349.00 1833.00,349.00 1833.00,349.00   1852.74,349.23 1868.06,363.25 1890.00,363.00   1901.85,362.86 1910.82,355.97 1919.00,347.99   1919.00,347.99 1953.00,311.00 1953.00,311.00   1960.46,303.55 1970.53,294.24 1982.00,295.19   2004.79,297.07 2026.82,331.03 2048.00,331.96   2060.32,332.50 2068.84,324.15 2077.00,316.00   2077.00,316.00 2115.00,275.62 2115.00,275.62   2122.38,269.57 2131.10,264.52 2141.00,265.09   2156.93,266.02 2171.16,277.21 2182.00,288.00   2184.79,290.78 2195.17,301.74 2197.82,302.96   2199.34,303.60 2199.63,303.23 2201.00,302.96   2209.18,319.17 2219.57,336.34 2235.00,346.46   2245.42,353.29 2268.47,360.15 2281.00,363.71   2297.51,368.40 2332.75,377.71 2347.00,384.31   2361.74,391.13 2382.63,406.92 2392.00,420.00   2392.00,420.00 801.00,420.00 801.00,420.00   801.00,420.00 338.00,420.00 338.00,420.00   338.00,420.00 203.00,420.00 203.00,420.00   203.00,420.00 164.00,420.00 164.00,420.00   164.00,420.00 145.00,419.00 145.00,419.00 Z"
  );
}
