:root {
  --clr-accent: #1a2229;
  --top-margin: 6rem;
  --name-font: "Transport Medium", sans-serif;
  --name-font-weight: 400;
  --background2: #86a1cc;
}

@media screen and (max-width: 600px) {
  :root {
    --top-margin: 2rem;
    --wave-target: 80vh;
  }
  h1 {
    font-size: 5rem !important;
  }
}

@font-face {
  font-family: "Transport Medium";
  src: url(../assets/TransportMedium.ttf) format("truetype");
}

@font-face {
  font-family: "Transport Heavy";
  src: url(../assets/TransportHeavy.ttf) format("truetype");
}

@font-face {
  font-family: "Expressway";
  src: url(../assets/expresswayrg.ttf) format("truetype");
}

p {
  margin-bottom: 1rem;
}

#testimonials {
  margin-top: 200px;
}

html {
  position: relative;
  font-size: 16px;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  /* width: 100%; */
  /* height: 100%; */
  font-family: "Roboto", sans-serif;
}

body {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  /* margin: 2rem; */
  width: 100%;
  min-height: 100vh;
}

#content {
  margin: 2rem;
  height: 100%;
  /* overflow-x: hidden;; */
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav a {
  padding: 0 2rem;
  vertical-align: middle;
  height: 100%;
  display: list-item;
  text-decoration: none;
  color: inherit;
  line-height: 3rem;
}

strong {
  font-weight: bold;
}

main {
  margin: var(--top-margin) auto;
  width: auto;
  max-width: 960px;
  position: relative;
}

h1 {
  font-size: 6rem;
  font-family: var(--name-font);
  font-weight: var(--name-font-weight);
  margin-bottom: 2rem;
  /* text-transform: up; */
}

h2 {
  margin: 2rem 0;
  font-family: var(--name-font);
  font-size: 2.5rem;
}

.headline {
  margin: 1rem 0;
  font-size: 1.25rem;
  line-height: 2rem;
  /* font-weight: bold; */
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
}
.mobile-only {
  display: none;
}

br {
  margin-top: 1rem;
  content: " ";
  display: block;
}

@media screen and (max-width: 600px) {
  .cta {
    flex-grow: 1;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .btn-group {
    justify-content: center;
  }
}

.button {
  background: var(--clr-accent);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.cta {
  align-self: flex-end;
  font-size: 1.5rem;
  border-radius: 8px;
}

.button:hover,
.button:focus {
  background-color: #333;
}

.button img {
  height: 2rem;
  width: 2rem;
  vertical-align: bottom;
}

hr {
  border-color: black;
  color: black;
  background-color: black;
}

.testimonial {
  margin: 2rem 0;
  position: relative;
  z-index: 2;
}

blockquote {
  font-weight: 300;
  font-size: 1.25rem;
  font-style: italic;
  quotes: none;
  padding: 2rem;
}
blockquote:before,
blockquote:after {
  font-size: 4rem;
  font-family: "Arial", sans-serif;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0;
  left: 0;
}
blockquote:after {
  content: "\201D";
  position: absolute;
  bottom: 0;
  right: 0;
}
figcaption {
  font-style: normal;
  text-align: right;
  margin-top: 0.5rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.contact-card {
  height: 1.5rem;
  line-height: 1.5rem;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 2;
  font-size: 1.5rem;
}

.contact-card img {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: bottom;
}
